<div id="layoutSidenav" th:fragment="sideBar">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">

          <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" th:href="@{/admin}">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Dashboard
          </a>

          <!-- ====== BÀI VIẾT ====== -->
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBaiViet"
            aria-expanded="false" aria-controls="collapseBaiViet">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Bài viết
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>

          <div class="collapse" id="collapseBaiViet" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" th:href="@{/admin/BaiViet}">Bài viết</a>
              <a class="nav-link" th:href="@{/admin/DanhMuc}">Danh mục bài viết</a>
            </nav>
          </div>

          <!-- ====== PHẢN ÁNH ====== -->
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePhanAnh"
            aria-expanded="false" aria-controls="collapsePhanAnh">
            <div class="sb-nav-link-icon"><i class="fas fa-triangle-exclamation"></i></div>
            Phản ánh &amp; giám sát
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>

          <div class="collapse" id="collapsePhanAnh" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" th:href="@{/admin/PhanAnh}">Phản ánh</a>
              <a class="nav-link" th:href="@{/admin/LoaiPhanAnh}">Loại phản ánh</a>
            </nav>
          </div>


          <a class="nav-link" th:href="@{/admin/NguoiDung}">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            Người dùng
          </a>
          <a class="nav-link" th:href="@{/admin/UngHo}">
            <div class="sb-nav-link-icon"><i class="fas fa-hand-holding-heart"></i></div>
            Ủng hộ
          </a>



        </div>
      </div>
    </nav>
  </div>
</div>