<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head th:replace="sinhvien/layouts/header::header"></head>
    <body>
        <!-- Responsive navbar-->
        <nav th:replace="sinhvien/layouts/navBar::navBar"></nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Business Name or Tagline</h1>
                    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                    <a class="btn btn-primary" href="#!">Call to Action!</a>
                </div>
            </div>
            <!-- Content Row-->
                <div class="row gx-4 gx-lg-5" th:each="baiViet : ${dsBaiViet}">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title" th:text="${baiViet.tieuDe}"></h2>
                                <p class="card-text" th:text="${baiViet.noiDung}"></p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" th:href="@{/BaiViet/{id}(id=${baiViet.baiVietId})}">Xem chi tiet</a></div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Footer-->
        <footer th:replace="sinhvien/layouts/footer::footer"></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/assets/js/sinhvien.js}"></script>
    </body>
</html>
